body {
    font-family: sans-serif;
    margin: 20px;
}

#csv-upload-section, #data-display-section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul#deviceList {
    list-style-type: none;
    padding: 0;
}

ul#deviceList li {
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 3px;
}

#add-device-section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addDeviceForm .form-group {
    margin-bottom: 10px;
}

#addDeviceForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#addDeviceForm input[type="text"],
#addDeviceForm input[type="number"] {
    width: calc(100% - 12px); /* Adjust width to account for padding and border */
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box; /* Important to include padding and border in width */
}

#addDeviceForm button[type="submit"] {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addDeviceForm button[type="submit"]:hover {
    background-color: #0056b3;
}

#addDeviceStatus {
    margin-top: 10px;
    font-weight: bold;
}